@page
@model FUNewsManagementSystem.Pages_Categories.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutStaff.cshtml";
}

<h1 class="mb-4">Category Management</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Category</a>
</p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Category[0].CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.Category[0].IsActive)</th>
            <th>@Html.DisplayNameFor(model => model.Category[0].ParentCategory)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>
                    @if (item.IsActive == true)
                    {
                        <span class="badge bg-success">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Inactive</span>
                    }
                </td>
                <td>@(item.ParentCategory != null ? item.ParentCategory.CategoryName : "Root Category")</td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CategoryId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.CategoryId" class="btn btn-info btn-sm">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
